<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_iatf_mgmt_review_root" name="Management Review" parent="iatf_document_control.menu_iatf_root" sequence="70"/>
    <menuitem id="menu_iatf_mgmt_reviews" name="Reviews" parent="menu_iatf_mgmt_review_root" action="action_iatf_management_review" sequence="10"/>
</odoo>
