.git
.github
.tx
.gitignore
.gitmodules
.weblate.json
__pycache__
*.pyc
*.pyo
*.egg-info
node_modules
doc/
debian/
setup/
CONTRIBUTING.md
COPYRIGHT
LICENSE
MANIFEST.in
README.md
SECURITY.md
docker-compose.dev.yml
