<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_iatf_supplier_root" name="협력업체 품질" parent="iatf_document_control.menu_iatf_root" sequence="55"/>
    <menuitem id="menu_iatf_supplier_eval" name="평가" parent="menu_iatf_supplier_root" action="action_iatf_supplier_evaluation" sequence="10"/>
    <menuitem id="menu_iatf_scar" name="SCAR (시정조치요구)" parent="menu_iatf_supplier_root" action="action_iatf_scar" sequence="20"/>
</odoo>
