<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_iatf_ppap_root"
              name="PPAP (양산부품승인)"
              parent="iatf_document_control.menu_iatf_root"
              sequence="47"/>
    <menuitem id="menu_iatf_ppap"
              name="PPAP 제출"
              parent="menu_iatf_ppap_root"
              action="action_iatf_ppap"
              sequence="10"/>
</odoo>
