<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_iatf_contingency_root" name="Contingency Plans" parent="iatf_document_control.menu_iatf_root" sequence="75"/>
    <menuitem id="menu_iatf_contingency_plans" name="Plans" parent="menu_iatf_contingency_root" action="action_iatf_contingency" sequence="10"/>
</odoo>
