<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_pumui_root" name="품의서" sequence="47"/>
    <menuitem id="menu_pumui_request" name="품의서 목록" parent="menu_pumui_root"
              action="action_pumui_request" sequence="10"/>
    <record id="action_moves_no_pumui" model="ir.actions.act_window">
        <field name="name">품의 미연계 청구서</field>
        <field name="res_model">account.move</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[('move_type','in',('out_invoice','in_invoice')),('pumui_id','=',False)]</field>
    </record>
    <menuitem id="menu_moves_no_pumui" name="품의 미연계 청구서" parent="menu_pumui_root"
              action="action_moves_no_pumui" sequence="20"/>
</odoo>
