<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_iatf_packaging_root" name="포장/보존 관리"
              parent="iatf_document_control.menu_iatf_root" sequence="23"/>
    <menuitem id="menu_iatf_packaging_spec" name="포장 사양서"
              parent="menu_iatf_packaging_root"
              action="action_packaging_spec" sequence="10"/>
</odoo>
